# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

workprogress.md
.cloudbase
# 确保环境忘记切换去提交审核
miniprogram/config.js

# Node.js
node_modules/
